.heading {
    color: var(--blanco);
    margin-top: 7rem;
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
}

.span {
    color: black;
    display: block;
    color: #3730b4;
}


@media (min-width: 768px) {
    .span {
        display: inline;
    }
}